// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#session_new_body{
  background: url('airport.jpg');
  background-size:100%;
}

#login_form{
  width: 70%;
  height: 30%;
  padding-bottom: 10em;
  margin:auto;
  margin-top:15em;
  background:white;
}

#login_info{
  margin-top:10em;
  margin:auto;
}