<nav class="navbar navbar-default navbar-fixed-top" id="top_nav">
  <%= link_to(image_tag('ivrnet_logo.png',height: '40em', width: '150em',:class=>"logo"),'/') %>
<% if session[:user_id] %>
  <a href='/logout' id="logoutLink">Logout</a>
<% else %>
  <% if request.host.to_s!='localhost'%>
  <a href='/login' id="loginLink">Login</a>
  <a href='/users/new' id="registerLink">Register</a>
  <% end %>
<% end  %>
</nav>