<nav class="navbar navbar-default navbar-fixed-top">
<% if session[:user_id] %>

  <a href='/logout' id="logoutLink">Logout</a>
<% else %>
  <a href='/login' id="loginLink">Login</a>
  <a href='/register' id="registerLink">Register</a>
<% end  %>
</nav>